// TODO: suddividere in più file

.block.logo {
  text-align: center;
}

.row > div[class*="col"] {
  padding: 5px;
  margin-bottom: 15px;
}

.list.categorie,
.list.classifica {
  .item-title-row {

    transform: translateY(-50%);
    top: 50%;
    position: relative;
  
    .item-title {
      overflow: visible;
      text-overflow: initial;
      white-space: normal;
      line-height: 1.3;
    }

    .item-after {
      position: absolute;
      right: 0;
    }

  }

  .badge {
    font-size: 20px;
  }
}
.list.classifica {
  .item-title {
    margin-right: 100px;
  }
}

.list.risposte {
  .item-text {
    overflow: visible;
    -webkit-line-clamp: unset;
    max-height: none;
  }
  .item-inner {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  margin-bottom: 110px;
}

.block.avanti {
  margin-bottom: 0px;
  padding-top: 10px;
  position: fixed;
  padding-bottom: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

/* pagina risultato */
[data-name="risultato"] {
  .card i {
    font-size: 120px;
  }
  .trofeo {
    text-align: center;
  }
  .block {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .card .col {
    margin-bottom: 0px;
    padding: 0px;
  }
}

/* profilo */
[data-name="profilo"] {
  .userdata {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    .col {
      margin-bottom: 0px;
      padding: 0px;
    }
    position: relative;
  }
  .avatar i {
    font-size: 80px;
  }
  .iconbutton {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .punteggi {
    margin: 0px 8px;
    padding: 0px;
    text-align: center;
    .col {
      padding: 0px;
    }
    h3 {
      margin: 0px;
    }
  }
  .row .col {
    margin-bottom: 0px;
  }
}

$iconbutton_size: 42;
a.iconbutton {
  background: #2196f3;
  width: ($iconbutton_size)+px;
  height: ($iconbutton_size)+px;
  border-radius:($iconbutton_size/2)+px;
  color: #fff;
  i {
    font-size: ($iconbutton_size/3*2)+px;
    display: block;
    line-height: ($iconbutton_size)+px;
  }
}

.bignumber {
  font-size: 60px;
  font-weight: bold;
}