<div class="page" data-name="categorie">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
      <div class="title">Scegli una categoria</div>
      <div class="right">
        <a href="#" class="link icon-only panel-open" data-panel="right">
          <i class="icon material-icons md-only">menu</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="list media-list categorie">
      <ul>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/domanda/" class="item-link item-content">
            <div class="item-media"><img src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Lab-512.png" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Scienze, matematica, geometria, algebra, trigonometria</div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>