<div data-name="home" class="page">

    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
            </div>
            <div class="title">Quizzando</div>
            <div class="right">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <i class="icon material-icons md-only">menu</i>
                </a>
            </div>
        </div>
    </div>

    <!-- Scrollable page content -->
    <div class="page-content">

        <!-- Content block -->
        <div class="block logo">
            <p><img src="public/images/logo.png"></p>
        </div>

        <!-- Additional "block-strong" class for extra highlighting -->
        <div class="block block-strong">
            <p>Here comes another text block with additional "<b>block-strong</b>" class. Praesent nec imperdiet diam.
                Maecenas vel lectus porttitor, consectetur magna nec, viverra sem. Aliquam sed risus dolor. Morbi
                tincidunt ut libero id sodales. Integer blandit varius nisi quis consectetur. </p>
        </div>

        <!-- Inset content block -->
        <div class="block block-strong">
            <div class="row">
                <div class="col">
                    <a href="/categorie/" class="col button button-big button-fill">Inizia un quiz</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/classifica/" class="col button button-big button-fill">Visualizza classifica</a>
                </div>
            </div>
        </div>
    </div>
    
</div>