<div class="page" data-name="profilo">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
      <div class="title">Profilo</div>
      <div class="right">
        <a href="#" class="link icon-only panel-open" data-panel="right">
          <i class="icon material-icons md-only">menu</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="card userdata">
      <a href="#" class="iconbutton">
        <i class="icon material-icons md-only">edit</i>
      </a>
      <div class="card-content card-content-padding">
        <div class="row avatar">
          <div class="col">
            <i class="icon material-icons md-only">account_circle</i>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Nome Cognome
          </div>
        </div>
      </div>
    </div>
    <div class="block punteggi">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-content card-content-padding">
              <div class="row">
                <div class="col">
                  <h3>Punteggio</h3>
                </div>
              </div>
              <div class="row">
                <div class="col bignumber">
                  45
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-content card-content-padding">
              <div class="row">
                <div class="col">
                  <h3>Posizione</h3>
                </div>
              </div>
              <div class="row">
                <div class="col bignumber">
                  1°
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block livello">
      <div class="gauge demo-gauge"></div>
    </div>
  </div>
</div>